@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes drop {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-drop {
  animation: drop 0.5s ease-out;
}
